<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="static/style.css">
<title> Expense-Tracker </title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="#home">Expense₹Tracker</a>
        <a href="#news">SignUp</a>
        <a href="#about">About Us</a>
    </div>
    <div class="page">
      <div class="form">
        <div class="login">
          <div class="header">
            <h3>LOGIN</h3>
            <p>Please enter your credentials to login.</p>
          </div>
           <form class="form" method = "POST" action = "/transaction">
            {% csrf_token %}
            <input type="text" name = "username" placeholder="username" required>
            <input type="password" name = "password" placeholder="password" required>
            <div class="reset-pass">
              <a href="#">Reset Password</a>
            </div>
          <button type = "submit">login</button>
          <p class="message">Not registered? <a href="#">Create an account</a></p>
        </form>
    </div>
      </div>
    </div>
</body>
</html>